.mine-page {
    font-family: Roboto, sans-serif;
}
.mine-page ul {
    list-style: none;
    

}
.mine-page p {
    color: #757575;
}
.mine-header a {
    color: #212121;
    text-decoration: none;
}
.logo-color {
    color: #2196F3;
}
.sity-nav {
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}
.sity-nav .study:hover, .study:focus {
    color: #2196F3;
}
.sity-nav .portfolio:visited {
    color: #2196F3;
}
.logo {
    color: #000;
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.sity-cont {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    }
.sity-cont .mail:hover, .mail:focus {
    color: #2196F3;
    }

.hero {
    background-color: #2F303A;
}
.hero-title {
    color: #FFFFFF;
    text-align: center;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;

}
.hero-button {
    background: #2196F3;
    color: #FFFFFF;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

}

.benefits h3 {
   color:  #212121;
   font-weight: 700;
   font-size: 14px;
   line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}

.benefits p {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

}
.work h2 {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

}

.team {
    background-color: #F5F4FA;
}
.team h2 {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}
.team h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

}
.team p {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

}
.mine-footer {
    background-color: #2F303A;

}
.logo-color-footer {
    color: #FFFFFF;
}
.addres {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

}
.button-portfolio button {
    background-color: #F5F4FA;
    color: #212121;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;

}
.button-portfolio :hover, .button-portfolio :focus {
    background-color: #2196F3;
    color: #FFFFFF;
}

.content-portfolio a {
        text-decoration: none;
}
.content-portfolio h2 {
    color: #212121;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

}
.content-portfolio p {
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
}
